In [1]:
import pandas as pd

In [8]:
teamrating = pd.read_csv('23-24TeamRatings.csv')
teamrating.head()

,Rk,Team,Conf,Div,W,L,W/L%,MOV,ORtg,DRtg,NRtg,MOV/A,ORtg/A,DRtg/A,NRtg/A
0,1,Boston Celtics,E,A,64,18,0.780,11.34,124.23,112.51,11.71,10.74,123.81,112.70,11.11
1,2,Oklahoma City Thunder,W,NW,57,25,0.695,7.41,120.43,113.12,7.31,7.36,120.49,113.23,7.26
2,3,Minnesota Timberwolves,W,NW,56,26,0.683,6.45,116.63,109.98,6.65,6.38,116.53,109.95,6.57
3,4,Denver Nuggets,W,NW,57,25,0.695,5.26,119.49,114.05,5.44,5.23,119.60,114.20,5.40
4,5,New York Knicks,E,A,50,32,0.610,4.59,119.11,114.22,4.89,4.36,118.93,114.28,4.66

In [39]:
teamadvanced = pd.read_csv('23-24TeamAdvanceStats.csv')
teamadvanced = teamadvanced.drop(columns=['Unnamed: 22', 'Unnamed: 27'])
teamadvanced['Team'] = teamadvanced['Team'].str.replace('*', '', regex=False).str.strip()
teamadvanced.rename(columns={
    'eFG%.1': 'eFG%',
    'TOV%.1': 'TOV%',
    'FT/FGA.1': 'Opponent FT/FGA'
}, inplace=True)
teamadvanced = teamadvanced[teamadvanced['Team'] != 'League Average']
teamadvanced.head(31)
teamadvanced.dtypes

#teamadvanced.to_csv('Cleaned_TeamAdvancedStats.csv', index=False)

Rk                 float64
Team                object
Age                float64
W                  float64
L                  float64
PW                   int64
PL                   int64
MOV                float64
SOS                float64
SRS                float64
ORtg               float64
DRtg               float64
NRtg               float64
Pace               float64
FTr                float64
3PAr               float64
TS%                float64
Unnamed: 17        float64
eFG%               float64
TOV%               float64
ORB%               float64
FT/FGA             float64
eFG%               float64
TOV%               float64
DRB%               float64
Opponent FT/FGA    float64
Arena               object
Attend.              int64
Attend./G            int64
dtype: object

In [76]:
shootingtypes= pd.read_csv('23-24ShootingTypePerTeamStats.csv')
shootingtypes = shootingtypes.drop(columns=[ 'Unnamed: 13',
    'Unnamed: 6', 'Unnamed: 26', 'Unnamed: 29', 'Unnamed: 32', 'Unnamed: 23','Unnamed: 20'
])
shootingtypes['Team'] = shootingtypes['Team'].str.replace('*', '', regex=False).str.strip()
shootingtypes.rename(columns={
    '10-Mar': '3-10',
    '16-Oct': '10-16',
    '2P.1':'2PFGM%',
    '0-3.1': '0-3FGM%',
    '10-Mar.1':'3-10FGM%',
    'Att.':'Heaves Attempt',
    '16-Oct.1':'10-16PFGM%',
    '16-3P.1':'16-3PFGM%',
    '3P.1':'3PFGM%',
    '2P.2':'%Astd2P',
    '3P.2':'%Asted3P',
    '%FGA':'%FGDunks',
    'Md.':'TotalDunksMade',
    '%FGA.1':'%FGLayups',
    'Md..1':'TotalLayups',
    '3%PA':'%Corner3PA',
    '3P%':'3P%Corner',
    'Md..2': 'Heaves Made'
}, inplace=True)
shootingtypes.dtypes
#shootingtypes.to_csv('Cleaned_ShootingTypeStats.csv', index=False)

Rk                  int64
Team               object
G                   int64
MP                  int64
FG%               float64
Dist.             float64
2P                float64
0-3               float64
3-10              float64
10-16             float64
16-3P             float64
3P                float64
2PFGM%            float64
0-3FGM%           float64
3-10FGM%          float64
10-16PFGM%        float64
16-3PFGM%         float64
3PFGM%            float64
%Astd2P           float64
%Asted3P          float64
%FGDunks          float64
TotalDunksMade      int64
%FGLayups         float64
TotalLayups         int64
%3PA              float64
3P%Corner         float64
Heaves Attempt      int64
Heaves Made         int64
dtype: object

In [82]:
teamstats = pd.read_csv('23-24TeamPerGameStats.csv')
teamstats['Team'] = teamstats['Team'].str.replace('*', '', regex=False).str.strip()
teamstats = teamstats.iloc[:-1]
teamstats.head(32)
teamstats.to_csv('Cleaned_TeamStats.csv', index=False)